.booking_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    >h1{
      margin-top: 0;
      margin-bottom: 30px;
    }
    &_activeList{
      margin-top: 30px;
      margin-bottom: 40px;
      >a{
        text-decoration: none;
      }
      >p{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 147.3%;
        text-align: center;
        color: #2A2C32;
        margin-bottom: 30px;
        text-decoration: none;
      }
    }
    &_arhiveList{
        margin-top:40px;
        margin-bottom: 132px;
        >a{
          text-decoration: none;
        }
        >p{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 147.3%;
            text-align: center;
            color: #2A2C32;
            margin-bottom: 30px;
            text-decoration: none;
        }
    }
  }