.arenda{
    width: 71.3vw;//1026
    margin: 0 auto;
    position: relative;
    &_back{
        cursor: pointer;
        margin: 155px auto 0; 
        width: 71.3vw;  
        display: flex;
        align-items: center;
        cursor: pointer;
        &_arrow{
            margin-right: 14px;        
        }
        &_text{
            margin:0;
            padding: 0;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 147.3%;
            color: #508E87;
        }
    }
    >h1{
        margin-top: 14px;
    }
    &_structure{
        >p{
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 147.3%;
            color: #1B1B1B;
        }
    }
    &_info{
        >p{
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 147.3%;
            color: #1B1B1B;
        }
        &_wrapper{
            display: flex;
            align-items: center;
            position: relative;
            >input{
                width: 241px;
                height: 44px;                
                border: 1px solid #E0E0E0;
                box-sizing: border-box;
                border-radius: 6px;
                margin-left: 70px;
                padding-left: 12px;
                background:url(../img/calendar.svg) no-repeat center right 15px;                
            }
            >p{
                margin: 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #1B1B1B;
            }
            &_currnetmonth{         
                display: flex; 
                flex-direction: column; 
                width: 367px;
                height: 433px;
                z-index: 1;
                background: #FFFFFF;
                box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
                border-radius: 8px;
                position: absolute;
                top:45px;
                left:170px;
                  &_date {                 
                  height: 29px;
                  width: 367px;
                  display: flex; 
                  margin-top: 30px;  
                  justify-content: space-around;          
                &_mons{
                  width: 183px;
                  margin-right:5px;           
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 20px;
                  line-height: 147.3%;
                  text-align: center;        
                  color: #000000;
                }
                &_year{
                  width: 183px;
                  margin: 0; 
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 20px;
                  line-height: 147.3%;
                  color: #000000;
                }
              }
                &_table{  
                  align-self: flex-start;
                  width: 335px;
                  height: 269px;  
                  margin: 30px auto 0;                     
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 147.3%;
                  text-align: center;
                  color: #000000;
                  >tbody{
                  >tr:first-child{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 147.3%;
                    text-align: center;
                    color: #B1B1B1;              
                  }  
                  >tr{
                      height: 48px;
                      width: 335px;
                      margin-top: 19px;
                      display: flex;
                      justify-content: space-around;
                      margin: 0;    
                    >td:nth-child(6)>input, >td:nth-child(7)>input {
                      font-family: Roboto;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 16px;
                      line-height: 147.3%;
                      text-align: center;
                      color: #868686;                     
                    }
                    >td:nth-child(6)>input:hover, >td:nth-child(7)>input:hover {
                     background: #61A199;
                     opacity: 0.5;
                     border-radius: 50%;
                     color: #000000;                  
                    }
                    .arenda_info_wrapper_currnetmonth_table_startday:nth-child(6)>input,  .arenda_info_wrapper_currnetmonth_table_startday:nth-child(7)>input{
                      color: white;             
                     }      
                     .arenda_info_wrapper_currnetmonth_table_endday:nth-child(6)>input, .arenda_info_wrapper_currnetmonth_table_endday:nth-child(7)>input{
                      color: white;             
                     }      
                    .arenda_info_wrapper_currnetmonth_table_startday{                    
                      background: #61A199;
                      padding: 0;
                      border-radius: 50%;    
                      color: #FFFFFF;
                      border: none;
                      text-align: center; 
                      font-family: Roboto;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 16px;
                      line-height: 147.3%;
                      text-align: center;
                      >input{
                          background: rgba(97, 161, 153, 0.15);  
                          border-top-left-radius: 50%;
                          border-bottom-left-radius: 50%;
                          color:white;                   
                        }
                    }
                    .arenda_info_wrapper_currnetmonth_table_endday{  
                        background: #61A199;
                        padding: 0;
                        border-radius: 50%;    
                        color: #FFFFFF;
                        border: none;
                        text-align: center;        
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 147.3%;
                        text-align: center;
                        >input{
                          background: rgba(97, 161, 153, 0.15);  
                          border-top-right-radius: 50%;
                          border-bottom-right-radius: 50%;
                          color:white;    
                        }
                      }
                      .arenda_info_wrapper_currnetmonth_table_inrangeday{  
                        background: rgba(97, 161, 153, 0.15);  
                        padding: 0; 
                        color: #000000;
                        border: none;
                        text-align: center;
                        width: 48px;
                        height: 48px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 147.3%;
                        text-align: center;
                      }
                    >td{           
                        width: 48px;
                        height: 48px;         
                      >input{
                        border: none;
                        text-align: center;
                        padding: 0;
                        width: 100%;  
                        height: 100%;
                        background: none;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 147.3%;
                        text-align: center;
                        color: #000000;
                      }
                      >input:focus {
                        border: none;
                        outline:none;
                      }
                      >input:hover{
                      background: #61A199;
                      opacity: 0.5;
                      border-radius: 50%; 
                      color: #000000;   
                            
                      }            
                    }     
                  }
                }
              }
            }
        } 
        &_texarea{
            margin-top: 20px;
            display: flex;
            >textarea{
                width: 416px;
                height: 139px;
                margin-left:53px;
                background: #FFFFFF;
                border: 1px solid #E0E0E0;
                box-sizing: border-box;
                border-radius: 6px;
                resize: none;
            }
            >textarea::placeholder{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #BDBDBD;
            }
            >p{
                margin: 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #1B1B1B;
            }
        }       
    }
    &_check{
        width: 40%;      
        background: #F7F7F8;
        border-radius: 10px;
        position: absolute;
        right: 0;
        top: 151px;
        margin: 0;
        >p{
            font-family: Roboto Bold;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 147.3%;
            color: #1B1B1B;
            padding-top:30px;
            margin: 0 0 20px 30px;
        }
        &_price{
            &_cost{
                display:flex;
                justify-content: space-between;
                margin: 0 30px;
                >p{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 147.3%;
                    color: #1B1B1B;
                    margin: 0;
                }
            }
            &_discount{
                display: flex;
                justify-content: space-between;
                margin: 0 30px;
                >p:first-child{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 147.3%;
                    color: #828282;
                    margin: 0;
                }
                >p:nth-child(2){
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 147.3%;
                    color: #828282;
                    text-decoration: line-through;
                    margin: 0;
                }
            }           
        }       
        &_options, &_commission, &_total{
            display: flex;
            justify-content: space-between;
            margin: 0 30px;
            >p{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 147.3%;
                color: #1B1B1B;
                margin: 0;
            }
        }
        &_options, &_commission{
            margin-top:24px;

        }
        &_commission{
            margin-bottom: 24px;
        }
        &_total{
            padding-top:30px;
            border-top: 1px solid  #E0E0E0;
            padding-bottom: 30px;
            >p{
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 147.3%;
                color: #1B1B1B;
            }
        }   
    }
    &_options{
        height:auto;
        margin-top: 0px;        
        width: 590px;
        >p:first-child{
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 36px;
          line-height: 147.3%;
          color: #1B1B1B;
          margin-left: 0px;
          margin-bottom: 30px;
          margin-top: 60px;
        }
        >p{
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #1B1B1B;
          margin-top: 45px;
          margin-bottom: 30px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        &_wrapper{
          width:590px;
          height: 98px;
          border: 1px solid #E0E0E0;
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: space-between;  
          margin-bottom: 15px;
          &_text{
            margin-left: 20px;
            >p:first-child{
              font-family: Roboto bold;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 147.3%;
              color: #000000;
              margin: 0;
            }
            >p{
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 147.3%;
              color: #828282;
              margin: 3px 0 0 0;
            }
          }
          &_price{
            display: flex;
            align-items: center;
            >p{
              width: 72px;
              height: 44px;
              border: 1px solid #E0E0E0;
              box-sizing: border-box;
              border-radius: 6px;
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 16px;
              color: #000000;
              margin-right: 30px;
              text-align: center;
              padding-top: 14px;
            }
            &_switch{
              position: relative;
              display: inline-block;
              width: 36px;
              height: 20px;
              margin-right: 20px;
              &_checkbox{
                display: none;
              }
              &_slider{
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 34px;
              }
              &_slider:before{
                position: absolute;
                content: "";
                height: 16px;
                width: 16px;
                left: 2px;
                bottom: 2.5px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 50%;
              }
              &_checkbox:checked + &_slider{
                background-color: #61A199;
              }&_checkbox:focus + &_slider{
                box-shadow: 0 0 1px #61A199;
              }
              &_checkbox:checked +&_slider:before{
                -webkit-transform: translateX(16px);
                -ms-transform: translateX(16px);
                transform: translateX(16px);
              }
            }
          }
        }
        &_wrapper:nth-child(5){
          margin-bottom: 0;
        }
      }  
}
.arenda_continue{
  height: 84px;
  margin-top: 97px;
  border-top: 1px solid #DEE2E4; 
      >button{
          display: block;
          margin:17px auto;
          width: 171px;
          height: 51px;
          background: #61A199;
          border-radius: 6px;
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #FFFFFF;
          border-style: none;
          cursor: pointer;
      }
    
}
