@import "mixins";
@import "header";
@import "footer";
@import "fonts";
@import "filterAuto";

.auto_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 71.3vw;
    margin: 0 auto;
}

.filter{
    width: 71.3vw;
    height: 152px;
    margin: 190px auto 0;
    >h2{

        font-family: Roboto Bold;
        font-weight:500;
        color: #1B1B1B;
        padding: 0%;
    }
    &_wrapper{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        &_city{        
            height: 44px;  
            display: inline-block;
            vertical-align: top;
            position: relative;            
            border-radius: 6px;   
            border: 1px solid #D0CDE1;
            &_options{
                width: 22.8vw;               
                background: #FFFFFF;
                border-radius: 8px;
                box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #1B1B1B;
                position: relative;
                z-index: 1;
                >p:first-child{
                  padding-top: 20px;
                  padding-left: 12px;
                  margin: 0;
                }
                >p{
                  padding-top: 20px;
                  padding-left: 12px;
                  height: 58px;
                  margin: 0;
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 16px;
                  color: #1B1B1B;
                }
                >p:hover{
                  background: (97, 161, 153, 0.15);               
                  color: #1B1B1B;
                }

            }
            >input{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #1B1B1B;
                outline-offset:0px;
                width: 22.8vw;
                height: 44px;
                padding: 0;   
                padding: 21px 0 7px 12px;
                box-sizing: border-box;
                border: none;
                border-radius: 6px;
                background: none;
             }  
            >label{
                margin: 0 0 2px 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #A3A0B1;
                width: 22.8vw;           
                position: absolute;
                pointer-events: none;
                left: 15px;
                right: 15px;
                top: 0;
                white-space: nowrap;
                overflow: hidden;
                line-height: 44px;
                transition: .3s;
                &.active{
                    color: #EB5757
                }
            }           
            >input:focus~label,
            >input:not(:focus):valid~label{
                font-size: 9px;
                 top: -10px;               
            }
            >input:focus{
                outline: none;
            }
        }
        &_date{
            margin-bottom:2.2vh;
            width: 15vw; 
            height: 44px;  
            display: inline-block;
            vertical-align: top;
            position: relative;            
            border-radius: 6px;   
            border: 1px solid #D0CDE1;
            background:url(../img/calendar.svg) no-repeat center right 15px;
            cursor: pointer;
            >input{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #1B1B1B;
                outline-offset:0px;
                width: 15vw;
                padding: 0;   
                padding: 21px 0 7px 12px;
                box-sizing: border-box;
                border: none;
                border-radius: 6px;
                background: none;
             }  
            >label{
                margin: 0 0 2px 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #A3A0B1;
                width: 15vw;
                position: absolute;
                pointer-events: none;
                left: 15px;
                right: 15px;
                top: 0;
                white-space: nowrap;
                overflow: hidden;
                line-height: 44px;
                transition: .3s;
                &.active{
                    color: #EB5757
                }
            }           
            >input:focus~label,
            >input:not(:focus):valid~label{
                font-size: 9px;
                 top: -10px;               
            }
            >input:focus{
                outline: none;
            }
            &_currnetmonth{         
                display: flex; 
                flex-direction: column; 
                width: 367px;
                height: 433px;
                z-index: 1;
                background: #FFFFFF;
                box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
                border-radius: 8px;
                position: relative;
                  &_date {                 
                  height: 29px;
                  width: 367px;
                  display: flex; 
                  margin-top: 30px;  
                  justify-content: space-around;          
                &_mons{
                  width: 183px;
                  margin-right:5px;           
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 20px;
                  line-height: 147.3%;
                  text-align: center;        
                  color: #000000;
                  >img{
                     
                  }
                        }
                &_year{
                  width: 183px;
                  margin: 0; 
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 20px;
                  line-height: 147.3%;
                  color: #000000;
                  >img{
                      
                  }
                }
              }
                &_table{  
                  align-self: flex-start;
                  width: 335px;
                  height: 269px;  
                  margin: 30px auto 0;                     
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 147.3%;
                  text-align: center;
                  color: #000000;
                  >tbody{
                  >tr:first-child{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 147.3%;
                    text-align: center;
                    color: #B1B1B1;              
                  }  
                  >tr{
                      height: 48px;
                      width: 335px;
                      margin-top: 19px;
                      display: flex;
                      justify-content: space-around;
                      margin: 0;    
                    >td:nth-child(6)>input, >td:nth-child(7)>input {
                      font-family: Roboto;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 16px;
                      line-height: 147.3%;
                      text-align: center;
                      color: #868686;                     
                     
                    }
                    >td:nth-child(6)>input:hover, >td:nth-child(7)>input:hover {
                     background: #61A199;
                     opacity: 0.5;
                     border-radius: 50%;
                     color: #000000;
                  
                    }
                    .filter_wrapper_date_currnetmonth_table_startday:nth-child(6)>input,  .filter_wrapper_date_currnetmonth_table_startday:nth-child(7)>input{
                      color: white;             
                     }
      
                     .filter_wrapper_date_currnetmonth_table_endday:nth-child(6)>input, .filter_wrapper_date_currnetmonth_table_endday:nth-child(7)>input{
                      color: white;             
                     }
      
                    .filter_wrapper_date_currnetmonth_table_startday{                    
                      background: #61A199;
                      padding: 0;
                      border-radius: 50%;    
                      color: #FFFFFF;
                      border: none;
                      text-align: center; 
                      font-family: Roboto;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 16px;
                      line-height: 147.3%;
                      text-align: center;
                      >input{
                          background: rgba(97, 161, 153, 0.15);  
                          border-top-left-radius: 50%;
                          border-bottom-left-radius: 50%;
                          color:white;                   
                        }
                    }
                    .filter_wrapper_date_currnetmonth_table_endday{  
                        background: #61A199;
                        padding: 0;
                        border-radius: 50%;    
                        color: #FFFFFF;
                        border: none;
                        text-align: center;        
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 147.3%;
                        text-align: center;
                        >input{
                          background: rgba(97, 161, 153, 0.15);  
                          border-top-right-radius: 50%;
                          border-bottom-right-radius: 50%;
                          color:white;    
                        }
                      }
                      .filter_wrapper_date_currnetmonth_table_inrangeday{  
                        background: rgba(97, 161, 153, 0.15);  
                        padding: 0; 
                        color: #000000;
                        border: none;
                        text-align: center;
                        width: 48px;
                        height: 48px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 147.3%;
                        text-align: center;
                      }
                    >td{           
                        width: 48px;
                        height: 48px;         
                      >input{
                        border: none;
                        text-align: center;
                        padding: 0;
                        width: 100%;  
                        height: 100%;
                        background: none;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 147.3%;
                        text-align: center;
                        color: #000000;
                      }
                      >input:focus {
                        border: none;
                        outline:none;
                      }
                      >input:hover{
                      background: #61A199;
                      opacity: 0.5;
                      border-radius: 50%; 
                      color: #000000;   
                            
                      }            
                    }     
                  }
                }
              }
            }
          }
        &_category{
            margin-bottom:2.2vh;
            width: 21.3vw;
            height: 44px;  
            display: inline-block;
            vertical-align: top;
            position: relative;            
            border-radius: 6px;   
            border: 1px solid #D0CDE1;
            >select{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #1B1B1B;
                outline-offset:0px;
                width: 21.3vw;
                height: 44px;
                padding: 0;   
                padding: 21px 0 7px 12px;
                box-sizing: border-box;
                border: none;
                border-radius: 6px;
                background: none;
             }  
            >label{
                margin: 0 0 2px 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #A3A0B1;
                width: 21.3vw;                    
                position: absolute;
                pointer-events: none;
                left: 15px;
                right: 15px;
                top: 0;
                white-space: nowrap;
                overflow: hidden;
                line-height: 44px;
                transition: .3s;
                &.active{
                    color: #EB5757
                }
            }           
            >select:focus~label,
            >select:not(:focus):valid~label{
                font-size: 9px;
                 top: -10px;               
            }
            >select:focus{
                outline: none;
            }           
        }
        &_button{
            width: 10.9vw;
            height: 44px;
            background: #61A199;
            border-radius: 6px;
            margin-left: 1.25vw;
            border-style:none;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
}

.list{
    margin:100px auto 0;
    width: 71.3vw;   
    &_titel{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 120%;
        text-align: center;
        color: #1B1B1B;
        margin:0 0 50px 0;
    }
    &_wrapper{
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 328px));
        grid-template-rows: auto;
        grid-column-gap: 1.4vw;
        grid-row-gap:30px;
        justify-content: center;
        &_auto{
            width: 328px;           
            height: 242px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0.7) 100%);
            border-radius: 10px;
            grid-row-gap:30px;
            position: relative;
            &_img{
                width: 32px;
                height: 32px;
                border-radius: 50%;
                right: 0;
                margin: 15px 15px 0 0;
                position: absolute;
            }
            &_imgauto{
                width: 328px;           
                height: 242px;
                object-fit: cover;
                border-radius: 10px;
                

            }
            &_info{
                height: 46px;
                position: absolute;
                bottom: 0;
                margin:0 0 23px 20px;
                &_name{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 120%;
                    color: #FFFFFF;
                    margin: 0 0 5px 0
                }
                &_price{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 120%;
                    color: #FFFFFF;
                    margin: 0;
                }
            }
        }
    }
}


