@import "fonts";
@import "mixins";
@import "header";

.back_wrapper{
    margin-top: 155px;
    margin-left: 207px;
    display: flex;
    align-items: center;
    &_arrow{
        margin-right: 14px;
    }
    &_text{
        margin:0;
        padding: 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 147.3%;
        color: #508E87;
    }
}

.fotoBlock{
    width: 1026px;
    height: 466px;
    margin: 41px auto 0;
    display: flex;  
    flex-direction: column; 
    flex-wrap: wrap;
    

    &_mainfoto{
        margin-right: 21px;
        
    }
    &_secondfoto{
        height: 222px;
        width: 328px;       
        margin-bottom: 20px;
    }
    &_wrapper{
        position: relative;
        height: 222px;
        width: 328px;
        &_text{
            position: absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);           
            background: rgba(0, 0, 0, 0.7);
            width: 134px;
            height: 34px;
            padding-top: 10px;
            border-radius: 8px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            text-align: center;
            font-size: 16px;
            line-height: 147.3%;
            color: #FFFFFF;

        }
    }
}

.infoAutoBlock{
    margin:60px auto 0; 
    width: 1026px;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    position: relative;
    &_name{
        >h2{
            padding:0;
            margin: 0 0 30px 0;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 120%;
            color: #1B1B1B;
            text-align: left;
            width: 469px;
        }
        &_wrapper{
            display: flex;
            width: 520px;
            align-items: center;
            justify-content: space-between;
            &_price{
                >p:first-child{
                    text-align: left;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 160%;
                    color: #61A199;
                    margin: 0 0 10px 0;
                }
                >p{
                    text-align: left;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 147.3%;
                    text-align: left;
                    color: #8D8B99;
                    margin: 0;
                }
            }
        }
    }
    &_user{
        position: absolute;
        top: 0;
        right: 0;  
        width: 328px;
        height: 286px;
        background: #F7F7F8;
        display: flex;
        align-items: center;
        justify-content: center;
        &_wrapper{
            &_img{
                display: block;
                margin:0 auto;
            }
            &_name{
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 147.3%;
                text-align: center;
                color: #000000;
                margin:10px 0 2px 0;
            }
            &_owner{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 147.3%;
                text-align: center;
                color: #8D8B99;
                margin: 0 0 32px 0;
            }
            &_profile{
                font-family: Rubik;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 147.3%;
                color: #61A199;
                cursor: pointer;
            }
        }
    }    
    &_specification{
        width: 437px;
        margin-bottom: 37px;
        >p{
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            color: #1B1B1B;
            margin: 60px 0 40px;
        }
        &_elem{
            display: flex;
            justify-content: space-between;
            margin-bottom: 23px;
            >p:first-child{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 147.3%;
                color: #8D8B99;
                margin:0
            }
            >p{
                width: 175px;
                text-align: left;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 147.3%;
                color: #000000;
                margin:0;
            }
        }
    }
    &_options{
        display: flex;
        flex-direction: column;
        border-top: 1px solid #E0E0E0;        
        margin-bottom: 37px;
        >p{
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 120%;
            color: #1B1B1B;
            margin: 61px 0 39px 0;
        }
        &_block{
            display: flex;
           justify-content: space-between;                      
            &_wrapper{
                width: 258px;  
                &_elem{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 23px;
                    >p{
                        width: 214px;
                        text-align: left;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 147.3%;
                        color: #000000;
                        margin: 0;
                    }
                }
            }
        }
    }   
}

.dateblock{
    margin:0 auto; 
    width: 1026px;
    border-top: 1px solid #E0E0E0;
    >p{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 120%;
        color: #1B1B1B; 
        margin: 60px 0 40px 0;           
    }
    &_wrapper{
        display: flex;
        justify-content: space-between;
        &_currnetmonth{
            width: 404px;
            height: 274px;
            background-color: yellow;

        }
        &_secondmonth{
            width: 404px;
            height: 274px;
            background-color: yellow;

        }
    }
}