@import "mixins";
@import "header";
@import "footer";
@import "fonts";

.main{
    display: flex;
    justify-content: center;
    background: #E5E5E5;
    
}

.recovery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 504px;
    background: #FFFFFF;
    border-radius: 10px;
    z-index: 1;
    top:50%;
    left: 50%;
    position: fixed;  
    transform: translate(-50%, -50%);
    @include mobile {
      width: 100vw;      
      height: 100vh;
      top: 0;
      left: 0;
      margin: 0;
      justify-content: space-between; 
      transform: none;                   
      }
      &_control_wrapper{
        margin-top:2.7vh;
        display: flex;
        justify-content: space-between;
        width: 504px;
      &_close{  
          margin-right: 25px;;
        }
      &_backArrow{
          margin-left: 25px;;
          }
          @include mobile {
            width: 100vw;              
          }
        }      
    &_img{
        margin: 2.4vh 0 4.2vh 0;
        &_mobile{
            display: none;
        }
    }
    @include mobile {
        &_img{
            display: none;
            &_mobile{
                display: block;
            }
        }
      }
    &_form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &_titel{
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 120%;
            text-align: center;
            color: #1B1B1B;
            margin-top: 0;
            margin-bottom: 1.1vh;
          
        }
        &_info{
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: #1B1B1B;
          margin: 0 0 3.3vh 0;
        }        
        &_email{ 
            margin-bottom:2.2vh;
            width: 350px;
            height: 44px;  
            display: inline-block;
            vertical-align: top;
            position: relative;            
            border-radius: 6px;   
            border: 1px solid #D0CDE1;
             >input{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #1B1B1B;
                outline-offset:0px;
                width: 350px;
                height: 44px;
                padding: 0;   
                padding: 21px 0 7px 12px;
                box-sizing: border-box;
                border: none;
                border-radius: 6px
                
                
             }  
            >label{
                margin: 0 0 2px 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #A3A0B1;
                width: 350px;
                position: absolute;
                pointer-events: none;
                left: 15px;
                right: 15px;
                top: 0;
                white-space: nowrap;
                overflow: hidden;
                line-height: 44px;
                transition: .3s;
                &.active{
                  color: #EB5757
              }
               
            }           
            >input:focus~label,
            >input:not(:focus):valid~label{
                font-size: 9px;
                 top: -10px;               
            }
            >input:focus{
                outline: none;
            }

        }
       
        &_newPassword{
          margin-bottom:2.2vh;
          width: 350px;
          height: 44px;  
          display: inline-block;
          vertical-align: top;
          position: relative;            
          border-radius: 6px;   
          border: 1px solid #D0CDE1;
          &.active{
            border: 1px solid #EB5757
        }
            >input{
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 16px;
              color: #1B1B1B;
              outline-offset:0px;
              width: 350px;
              height: 44px;
              padding: 0;   
              padding: 21px 0 7px 12px;
              box-sizing: border-box;
              border: none;
              border-radius: 6px;
              background:url(../img/password.svg) no-repeat center right 15px;
            } 
            >input:focus{
                outline: none;
            } 
            >label{
              margin: 0 0 2px 0;
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 16px;
              color: #A3A0B1;
              width: 350px;
              position: absolute;
              pointer-events: none;
              left: 15px;
              right: 15px;
              top: 0;
              white-space: nowrap;
              overflow: hidden;
              line-height: 44px;
              transition: .3s;
              &.active{
                color: #EB5757
            }
            }
           
            >input:focus~label,
            >input:not(:focus):valid~label{
                font-size: 9px;
                 top: -10px;               
            }
          }

          &_secondNewPassword{
            margin-bottom:2.2vh;
            width: 350px;
            height: 44px;  
            display: inline-block;
            vertical-align: top;
            position: relative;            
            border-radius: 6px;   
            border: 1px solid #D0CDE1;
            &.active{
              border: 1px solid #EB5757
          }
              >input{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #1B1B1B;
                outline-offset:0px;
                width: 350px;
                height: 44px;
                padding: 0;   
                padding: 21px 0 7px 12px;
                box-sizing: border-box;
                border: none;
                border-radius: 6px;
                background:url(../img/password.svg) no-repeat center right 15px;
              } 
              >input:focus{
                  outline: none;
              } 
              >label{
                margin: 0 0 2px 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #A3A0B1;
                width: 350px;
                position: absolute;
                pointer-events: none;
                left: 15px;
                right: 15px;
                top: 0;
                white-space: nowrap;
                overflow: hidden;
                line-height: 44px;
                transition: .3s;
                &.active{
                  color: #EB5757
              }
              }
             
              >input:focus~label,
              >input:not(:focus):valid~label{
                  font-size: 9px;
                   top: -10px;               
              }
          }
        &_warn{
            display:block;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #EB5757;
            margin:0   0 3.3vh 0
        }  
       
       
       
        >input{
            width: 126px;
            height: 51px;
            margin-bottom:5.6vh;
            background: #61A199;
            border-radius: 6px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            flex: none;
            order: 0;
            flex-grow: 0;
            border-style: none;
        }
        >input:disabled{
            background: #E6E6E6;
            color: #B4B5BD;
          }
        } 
}