@import 'react-circular-progressbar/dist/styles.css';

.uploader{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  opacity: 0.5;
  background-color: #000000;

}

.uploader_wrapper{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  
}

.back{
  align-self: flex-start;
  position: relative;      
  margin-left:14.3vw;
  display: flex;
  top:30px;
  align-items: center;     
  width: 75px;
  height: 24px;
  cursor: pointer;
  &_arrow{
    margin-right: 14px;
  }
  &_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 147.3%;
    color: #508E87
  }
}    